body{
    background-color: #a22828;
  }
  .container{
    padding: 1em;
    margin: 3em;
    align-items: justify;
    font-family: Andale Mono;

  }
  
  marquee{
    background-color: 0, 0, 0;
  }
  
  h1{
    text-align: center;
    color: #ffffff;
    word-spacing: 2px;
    font-family: Times;
    margin-left: 70px;
    font-size: 50px;

  }

  
  h2{
    text-align: left;
    letter-spacing: 0.6px;
    color: rgb(255, 255, 255);
    font-family: Times;
    font-size: 25px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 70px;
  }
   
  h3{
    text-align: center;
    color: #ffffff;
    word-spacing: 2px;
    font-family: Times;
    margin-left: 70px;
    font-size: 50px;
    font-size: 35px;
  }

  h4{
    text-align: center;
    color: #ffffff;
    word-spacing: 2px;
    font-family: Times;
    margin-left: 70px;
    font-size: 25px;
    font-size: 25px;
    font-style: italic;
  }

  h5{
    text-align: center;
    letter-spacing: 0.6px;
    color: rgb(255, 255, 255);
    font-family: Times;
    font-size: 25px;
  }

  
  .container {
    padding: 2rem;
  }
  
 
  
  .slider {
    display: flex;
    aspect-ratio: 2 / 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
    scrollbar-width: none; /* Hide scrollbar Firefox */
  }
  


  
  .slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ffffff00;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }
  

  