body{
  background-color: black;

}


ul{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  color:#FFFFFF
}


.nav{
  justify-content: space-between;
  display: flex;
  padding: 20px
}


h1{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding-left: 40px;
  color:#FFFFFF
}
h2{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  padding: 5px;
  color:#FFFFFF
}



p{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;  font-style: normal;
  font-weight: 400;
  padding: 30px;
  font-size: 15px;
  width: 50%;
  line-height: 30px;
  color:#FFFFFF
}

p1{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;  font-style: normal;
  font-style: normal;
  text-align: center;
  padding-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color:#FFFFFF
}



.nav{
  justify-content: space-between;
  display: flex;
  padding: 20px

}



.hex{
  width: 30%;
  position: absolute;
  margin-left: 10%;
}

.hover-hex {
  transition: transform 0.3s;
}

.hover-hex:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('hex2.png');

}




.def{
  position: absolute;
  margin-left: 40%;  
  margin-top: 1.5%;

}

.hover-def {
  transition: transform 0.3s;
}

.hover-def:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('def2.png');

}





.formula{
  width: 30%;
  position: absolute;
  left: 50%;
  bottom: 35%
}

.hover-formula {
  transition: transform 0.3s;
}

.hover-formula:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('formula2.png');

}




.history{
  margin-top: 550px;  
}


.container{
  margin-left: 60%;
  padding-right: 30px;
  margin-top: -450px;
  text-align: center;

}


.slider {
  display: flex;
  aspect-ratio: 1 / 1.2;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}




.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ffffff00;
  opacity: 0.75;
  transition: opacity ease 250ms;
}












  
  /* Styles for the image container */
  .image-container {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: inline-block;
    margin-right: -217px;
    margin-bottom: -216px;
    
  }
  
  /* Styles for the default image */
  .default-image, .hover-image {
    position: absolute;
  
  }
  
  
  /* Initially hide the hover image */
  .hover-image {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  /* Show the hover image on hover */
  .image-container:hover .hover-image {
    opacity: 1;
  }
  
  
  