body{
  background-color: black;

}


ul{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  color:#FFFFFF
}


.nav{
  justify-content: space-between;
  display: flex;
  padding: 20px
}









.square{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 21.93%;
  right: 61.82%;
  top: 50.56%;
  bottom: 20.55%;

}

.hover-square {
  transition: transform 0.3s;
}

.hover-square:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('square2.png');
}











.triangle{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 40.14%;
  right: 39.96%;
  top: 57.59%;
  bottom: 11.89%;
}

.hover-triangle {
  transition: transform 0.3s;
}

.hover-triangle:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('triangle2.png');
}








.star{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */  
  left: 30.05%;
  right: 51.78%;
  top: 9.63%;
  bottom: 59.64%;
}

.hover-star {
  transition: transform 0.3s;
}

.hover-star:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('star2.png');
}










.hex{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 50%;
  right: 36.9%;
  top: 28.8%;
  bottom: 44.31%;

}


.hover-hex {
  transition: transform 0.3s;
}

.hover-hex:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('hex2.png');
}









.spiral{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 66.3%;
  right: 17.9%;
  top: 3.06%;
  bottom: 70.09%;

}

.hover-spiral {
  transition: transform 0.3s;
}

.hover-spiral:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('spiral2.png');
}







.diamond{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 1.35%;
  right: 76.14%;
  top: 15.19%;
  bottom: 42.39%;  
}


.hover-diamond {
  transition: transform 0.3s;
}

.hover-diamond:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('diamond2.png');
}










.trap{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 65.42%;
  right: 5.54%;
  top: 42.13%;
  bottom: 42.39%;
}


.hover-trap {
  transition: transform 0.3s;
}

.hover-trap:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('trap2.png');
}











.circle{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 63.07%;
  right: 18.76%;
  top: 63.33%;
  bottom: 4.36%;  
}


.hover-circle {
  transition: transform 0.3s;
}

.hover-circle:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('circle2.png');
}








/* Phone breakpoint */
@media (min-width: 380px) {
  
.circle{
  position: absolute;
  left: 23.82%;
  right: 28.53%;
  top: 29.79%;
  bottom: 58.62%;  
}


.triangle{
  position: absolute;
  left: 23.82%;
  right: 28.53%;
  top: 15.98%;
  bottom: 77.43%;
  
}



.hex{
  position: absolute;
  left: 23.82%;
  right: 28.53%;
  top: 2.16%;
  bottom: 86.25%;
  
}


.star{
  position: absolute;
  left: 23.82%;
  right: 28.53%;
  top: 43.6%;
  bottom: 42.8%;
}


.diamond{
  position: absolute;
  left: 23.82%;
  right: 28.53%;
  top: 57.42%;
  bottom: 30.99%;
}


.square{
  position: absolute;
  left: 24.82%;
  right: 28.53%;
  top: 74.23%;
  bottom: 3.18%;

}


.trap{
  position: absolute;
  left: 23.82%;
  right: 28.53%;
  top: 93.05%;
  bottom: 3.36%;
  padding-bottom: 10px;
  }

  
}








/* Tablet breakpoint */
@media (min-width: 768px) {


  .square{

    position: absolute;
    left: 31.93%;
    right: 61.82%;
    top: 60.56%;
    bottom: 20.55%;
  }
  
  
  .triangle{
    position: absolute;
    left: 10.14%;
    right: 79.96%;
    top: 95.59%;
    bottom: 11.89%;
  }
  
  .star{
    position: absolute;
    left: 30.05%;
    right: 51.78%;
    top: 9.63%;
    bottom: 59.64%;
  }
  
  
  .hex{
    position: absolute;
    left: 60%;
    right: 36.9%;
    top: 28.8%;
    bottom: 20.31%;
  
  }
  
  
  .diamond{
    position: absolute;
    left: 1.35%;
    right: 76.14%;
    top: 15.19%;
    bottom: 42.39%;  
  }
  
  
  
  .trap{
    position: absolute;
    left: 65.42%;
    right: 5.54%;
    top: 70.13%;
    bottom: 14%;
  }
  
  
  
  .circle{
    position: absolute;
    left: 53.07%;
    right: 78.76%;
    top: 95.33%;
    bottom: 4.36%;  
  }
  
  
  
  
    
  }
  
  

/* Desktop breakpoint */
@media (min-width: 992px) {



.square{

  position: absolute;
  left: 21.93%;
  right: 61.82%;
  top: 50.56%;
  bottom: 20.55%;
}


.triangle{
  position: absolute;
  left: 40.14%;
  right: 39.96%;
  top: 70.59%;
  bottom: 11.89%;
}

.star{
  position: absolute;
  left: 30.05%;
  right: 51.78%;
  top: 9.63%;
  bottom: 59.64%;
}


.hex{
  position: absolute;
  left: 50%;
  right: 36.9%;
  top: 28.8%;
  bottom: 20.31%;

}


.diamond{
  position: absolute;
  left: 1.35%;
  right: 76.14%;
  top: 15.19%;
  bottom: 42.39%;  
}



.trap{
  position: absolute;
  left: 65.42%;
  right: 5.54%;
  top: 42.13%;
  bottom: 42.39%;
}



.circle{
  position: absolute;
  width: 100px;
  left: 63.07%;
  right: 18.76%;
  top: 63.33%;
  bottom: 4.36%;  
}




  
}




/* Desktop breakpoint */
@media (min-width: 1200px) {


.square{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 21.93%;
  right: 61.82%;
  top: 50.56%;
  bottom: 20.55%;
}


.triangle{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 40.14%;
  right: 39.96%;
  top: 57.59%;
  bottom: 11.89%;
}

.star{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */  
  left: 30.05%;
  right: 51.78%;
  top: 9.63%;
  bottom: 59.64%;
}


.hex{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 50%;
  right: 36.9%;
  top: 28.8%;
  bottom: 44.31%;

}


.diamond{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 1.35%;
  right: 76.14%;
  top: 15.19%;
  bottom: 42.39%;  
}



.trap{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 65.42%;
  right: 5.54%;
  top: 42.13%;
  bottom: 42.39%;
}



.circle{
  position: absolute;
  transform: scale(0.5); /* Scale down to 50% of its original size */
  left: 63.07%;
  right: 18.76%;
  top: 63.33%;
  bottom: 4.36%;  
}



}
