body{
  background-color: black;

}


ul{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  color:#FFFFFF
}


.nav{
  justify-content: space-between;
  display: flex;
  padding: 20px
}


h1{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding: 40px;
  color:#FFFFFF
}

p{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-left: 30px;
  font-size: 15px;
  width: 50%;
  line-height: 30px;
  color:#FFFFFF
}


.nav{
  justify-content: space-between;
  display: flex;
  padding: 20px

}



.star{
  width: 30%;
  position: absolute;
  margin-left: 10%;
}

.hover-star {
  transition: transform 0.3s;
}

.hover-star:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('star2.png');

}




.def{
  width: 383px;
  height: 412px;
  position: absolute;
  margin-left: 40%;  
  margin-top: 1.5%;
  width: 30%;
}

.hover-def {
  transition: transform 0.3s;
}

.hover-def:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('def2.png');

}





.formula{
  position: absolute;
  margin-left: 10%;
  left: 35%;
  bottom: 1%
}

.hover-formula {
  transition: transform 0.3s;
}

.hover-formula:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('formula2.png');

}




.history{

  margin-top: 700px;  
}
