body{
  background-color: black;

}


p{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color:#FFFFFF
}


ul{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  color:#FFFFFF
}


.nav {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}

.nav a {
  text-decoration: none; /* Remove underline */
  color: #FFFFFF; /* Set text color to white */
  transition: italic 0.3s ease; /* Adding transition effect for italicization */
}

.nav a:hover {
  font-style: italic; /* Italicize on hover */
}


h1{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  color:#FFFFFF

}


h2{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  color:#FFFFFF

}

h3{
font-family: "evolver-variable", sans-serif;
font-weight: 400;
font-size: 40px;
color:#FFFFFF;
padding-top: -30px;
}

p{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color:#FFFFFF
}


marquee{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 50px;
  text-align: center;
  color:#FFFFFF
}


.message {
  margin: 10%;
  width: 80%;
  text-align: center;
  overflow: hidden; 
  opacity: 1; 
}


.menu-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 20px;
  grid-gap: 10px;
}


.menu-item {
  display: block;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add a smooth transition effect */
}

.menu-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease; /* Add a separate transition for the image */
}


/* Different styles for each link */
.menu-item:nth-child(1) 
{ width: 80%; 
}
.menu-item:nth-child(2) 
{ width: 70%; }
.menu-item:nth-child(3) 
{ width: 80%; 
  margin-top: 10px;}
.menu-item:nth-child(4) 
{ width: 80%; }
.menu-item:nth-child(5) 
{ width: 90%; 
  margin-top: 15px;}
  .menu-item:nth-child(6) 
{ width: 80%; }
.menu-item:nth-child(7) 
{ width: 80%; }


.menu-item:hover {
  transform: scale(1.05);
}

.menu-item:hover img {
  transform: scale(1.05);
}
