body{
  background-color: black;

}


p{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  text-align: center;
  color:#FFFFFF
}


ul{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  color:#FFFFFF
}


.nav{
  justify-content: space-between;
  display: flex;
  padding: 20px
}


h1{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-size: 150px;
  text-align: center;
  color:#FFFFFF

}



marquee{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 50px;
  text-align: center;
  color:#FFFFFF
}