body{
  background-color: black;

}


ul{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  color:#FFFFFF
}


.nav{
  justify-content: space-between;
  display: flex;
  padding: 20px
}


h1{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color:#FFFFFF
}
h2{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  color:#FFFFFF
}


p{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color:#FFFFFF
}

p1{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;  font-style: normal;
  font-style: normal;
  text-align: center;
  padding-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color:#FFFFFF
}


.nav{
  justify-content: space-between;
  display: flex;
  padding: 20px

}



.rhombus{
  width: 35%;
  position: absolute;
  margin-left: 5%;
  margin-top: -5%;

}


.rhombus img{
  width: 100%;
  position: absolute;
}

.hover-rhombus {
  transition: transform 0.3s;
}

.hover-rhombus:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('rhombus2.png');

}




.def{
  position: absolute;
  margin-left: 30%;  
  width: 35%;
}

.def img{
  position: absolute;
  width: 100%;
}

.hover-def {
  transition: transform 0.3s;
}

.hover-def:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('def2.png');

}





.formula{
  width: 100%;
  position: absolute;
  margin-left: 50%;
  margin-top: 17%;


}

.formula img{
  width: 30%;
  position: absolute;
}

.hover-formula {
  transition: transform 0.3s;
}

.hover-formula:hover {
  transform: scale(1.1);
  /* Change the image on hover */
  content: url('formula2.png');

}





.history {
  margin-top: 52%;
  width: 40%;
  float: left;
  padding-left: 5%;

}

.art {
  margin-top: 52%;
  width: 40%;
  float: right;
  padding-right: 5%;
}


.slider {
  display: flex;
  aspect-ratio: 1 / 1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}




.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ffffff00;
  opacity: 0.75;
  transition: opacity ease 250ms;
}





/*help w chatgtp*/


.gif-container {
  width: 40%; 
  margin-bottom: 10%;  

}

.gif-container img {
  width: 100%;
}








.menu-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 20px;
  grid-gap: 10px;
}


.menu-item {
  display: block;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add a smooth transition effect */
}

.menu-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease; /* Add a separate transition for the image */
}


/* Different styles for each link */
.menu-item:nth-child(1) 
{ width: 80%; 
}
.menu-item:nth-child(2) 
{ width: 70%; }
.menu-item:nth-child(3) 
{ width: 80%; 
  margin-top: 10px;}
.menu-item:nth-child(4) 
{ width: 80%; }
.menu-item:nth-child(5) 
{ width: 90%; 
margin-top: 30px;}
.menu-item:nth-child(6) 
{ width: 80%; }
.menu-item:nth-child(7) 
{ width: 80%; }


.menu-item:hover {
  transform: scale(1.05);
}

.menu-item:hover img {
  transform: scale(1.05);
}