body{
    background-color: #F2E5A2;
  }
  .container{

    align-items: justify;
    font-family: Andale Mono;

  }
  
  h1{
    text-align: center;
    color: #F7C73E;
    word-spacing: 2px;
    font-family: 'Arial Rounded MT Bold';
    margin-left: 30px;
    font-size: 100px;
    margin-bottom: -10px;


  }

  
  h2{
    text-align: center;
    color: #F7C73E;
    word-spacing: 2px;
    font-family: 'Arial Rounded MT Bold';
    margin-left: 30px;
    font-size: 30px;


  }
  
  
  /* Styles for the image container */
.image-container {
  position: relative;
  width: 540px;
  height: 540px;
  overflow: hidden;
  margin: 0; 
  padding: 0;
  display: inline-block;
  margin-right: -5px;
  margin-bottom: -165px;



  

}

/* Styles for the default image */
.default-image, .hover-image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0; 
  padding: 0;
  border: 0;

}


/* Initially hide the hover image */
.hover-image {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Show the hover image on hover */
.image-container:hover .hover-image {
  opacity: 1;
}


