body {
  margin: 0;
  overflow: auto;
  height: 500px;
    background-image: url('sun.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}


.container {
  width: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
  animation: spin 5s infinite linear;
  padding: 20px;


}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

p{
  font-size: 20px;
  text-align: center;


}

h1{
  font-size: 90px;
  padding: 20px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 40px;

}

img{
padding: 20px;
width: 200px

}

img1{
  padding: 20px;
  width: 200px
  
  }


#clock {
  margin-top: -100px;
  font-size: 40px;
  text-align: center;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  
}

pre{
  margin-top: -150px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}