/* home & about */

.nav {
  justify-content: space-between;
  display: flex;
  padding: 20px;
}

.nav a {
  text-decoration: none; /* Remove underline */
  color: #FFFFFF; /* Set text color to white */
  transition: italic 0.3s ease; /* Adding transition effect for italicization */
}

.nav a:hover {
  font-style: italic; /* Italicize on hover */
}



/* shape */


.square{
  width: 500px;
  position: absolute;
  margin-left: 10%;
  margin-top: 3%;
}

.square img{
  width: 100%;
  position: absolute;
}

.hover-square {
  transition: transform 0.3s;
}

.hover-square:hover {
  transform: scale(1.1);
  content: url('square2.png');
}

 /* definition box */

.def {
  background-color: black;
  padding: 10px; 
  border: 10px solid white; 
  transition: background-color 0.3s, color 0.3s;
  width: 500px; 
  height: 350px;
  margin-left: 38%; 
  margin-top: -40px;
  position: absolute;
  color: white; 
}

.def:hover {
  background-color: white;
  color: black; 
  transition: transform 0.3s;
  transform: scale(1.1);
}

.def h1,
.def h3,
.def p {
  color: inherit; 
}

.def textarea {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px; 
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit; 
}






/* formula */


.formula{
  margin-top: 400px;
  margin-left: 70%;

}


.formula h1::before {
  content: "Formula"; /* Set initial content */
 }

.formula:hover h1::before {
  content: "Formula = A= (1/4)√(5(5+2√5)s^2"; /* Set content on hover */
  font-style: italic; /* Set to italic on hover */
  transition: transform 0.3s;
  transform: scale(1.1);

}



/* history */

.history {
  margin-top: 10%;
  margin-bottom: 10%;
  width: 40%;
  float: left;
  padding-left: 5%;
}

/* history */


.art {
  margin-top: 10%;
  width: 40%;
  float: right;
  padding-right: 5%;
}




/* artist slideshow */

#slider-container {
  position: relative;
  margin: auto;
  overflow: hidden;
}

#image-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.slide img {
  aspect-ratio: 1/1;
  width: 100%;
  height: auto;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  font-size: 24px;
  cursor: pointer;
  color: white;
  padding: 10px;
  border: none;
  z-index: 1; 
}

#prev {
  left: 30px;
}

#next {
  right: 30px;
}



/* drawing box */
.box {
  float: left;
  position: relative;
  padding-left: 5%;
  margin-top: 15%;
  margin-bottom: -5%; /* Adjusted margin-bottom */
  width: 90%;
  height: 150%;
}


.draw {
  position: relative;
  height: 40%;
  border: 2px solid #fff;
  overflow: hidden;
  margin-bottom: 35px; 
}

.title {
  position: relative;
  overflow: hidden;
}
.hint {
  position: relative;
  overflow: hidden;
  margin-top: -20px;
}


.draw img {
  width: 40px;
  position: absolute;
}

.box h3 {
  margin: 0;
  margin-bottom: 10px; 
}



#refreshButton {
  padding: 10px 20px;
  width: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 90%;
  margin-top: -40px;
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

#refreshButton:hover {
  transform: scale(1.2); /* Increase the size on hover */
}


.menu-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 20px;
  grid-gap: 10px;
  margin-top: 5%; /* Add margin from the top */
  bottom: 0; /* Stick to the bottom */
  width: 100%; /* Take full width */
  margin-bottom: 0; /* Set to 0 to remove space below the menu */
}

.menu-item {
  display: block;
  transition: background-color 0.3s ease, transform 0.3s ease; 
}

.menu-item img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease; 
}

.menu-item:nth-child(1) { width: 80%; }
.menu-item:nth-child(2) { width: 70%; }
.menu-item:nth-child(3) { width: 80%; margin-top: 10px; }
.menu-item:nth-child(4) { width: 80%; }
.menu-item:nth-child(5) { width: 90%; margin-top: 15px; }
.menu-item:nth-child(6) { width: 80%; }
.menu-item:nth-child(7) { width: 80%; }

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item:hover img {
  transform: scale(1.05);
}









/* type/other */


body{
  background-color: black;
}


ul{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 77px;
  color:#FFFFFF
}





h1{
  font-family: "evolver-variable", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color:#FFFFFF;
  padding-top: -30px;
}
h2{
  font-family: "evolver-variable", sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  color:#FFFFFF
}
h3{

  font-family: "evolver-variable", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 30px;
  color:#FFFFFF
}

p{
  font-family: "futura-pt", sans-serif;  
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color:#FFFFFF
}

p1{
  font-family: "futura-pt", sans-serif;  
  text-align: center;
  padding-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color:#FFFFFF
}



















/* media queries! */


@media screen and (max-width: 768px) {
  .square {
    width: 80%;
    padding-right: -5%; 
  }
  .def {
  margin-left: 5%; 
  width: 100px; 
  height: 250px;
  margin-top: 500px;
  width: 80%;

  }

  .def h1{    
  font-size: 30px;
  }
  .def h3{    
  font-size: 20px;
  }
  .def p {
    font-size: 10px;
    color: inherit; 
  }


  .formula{
    margin-left: 50%; 
    margin-top: 820px;
  }
  .formula h1{
    font-size: 25px;
  }
  .history {
    margin-top: 15%;
    width: 80%;
  }  
  .art {
    margin-top: 5%;
    width: 80%;
    padding-left: 5%;
    float: left; 
    }
    .box {
      height: 500px; /* Adjusted fixed height */
      margin-top: 15%;
      margin-bottom: 0; /* Removed negative margin */
      margin-right: 2%;
    }
  
    .menu-container {
      bottom: 0;
      margin-top: 0; /* Removed margin-top */
      margin-bottom: 0; /* Removed margin-bottom */
    }

}







/* ANIMATION FOR ALL THE DIVS */

/* first 3 animation */

.square, .def, .formula {
  opacity: 0;
}

.square {
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}

.def {
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}

.formula {
  animation: fadeIn 1s ease-in-out 2.5s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

/* history & art animation */


[data-scroll-reveal] {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

[data-scroll-reveal].visible {
  opacity: 1;
  transform: translateY(0);
}





