body{
    background-color: #e0d9cc;
  }
  .container{
    padding: 1em;
    margin: 3em;
    align-items: justify;
    font-family: Andale Mono;

  }
  
  marquee{
    background-color: 0, 0, 0;
  }
  
  h1{
    color: #000000;
    word-spacing: 2px;
    position: absolute;
    font-family: Andale Mono;
    margin-left: 70px;
    font-style: italic;
    font-size: 50px;
    text-align: center;

  }

  
  h2{
    text-align: center;
    letter-spacing: 0.6px;
    color: rgb(0, 0, 0);
    font-family: Andale Mono;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 100px;
  }
   
  h3{
    color: rgb(0, 0, 0);
    font-family: Andale Mono;
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
    display: inline;
    text-align: center;
    
  }

  h4{
    text-align: center;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    font-family: Andale Mono;
    font-size: 30px;
    left: -10px;
  }

  h5{
    color: rgb(0, 0, 0);
    font-family: Andale Mono;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: -30px;

  }
  h6{
    color: rgb(0, 0, 0);
    font-family: Andale Mono;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: -30px;

  }

  h7{
    color: #000000;
    word-spacing: 2px;
    position: absolute;
    font-family: Andale Mono;
    margin-left: 70px;
    font-style: italic;
    font-size: 50px;
    text-align: center;


  }